@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
      
}
body{
    background: #A2C4C9;
}

.wrapper{
    display: flex;
    position: relative;

}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background: white;
    padding: 30px 0;
}

.wrapper nav ul li{
    padding: 15px;
    
}

.wrapper nav ul li a{
    color: black;
    display: block;
}

.wrapper nav ul li:hover{
    background: dimgray;
}

.wrapper nav ul li:hover a{
    color: white;
}

.main{
    margin-left: 200px;
    width: 100%;
}
.main .welcome{
    margin-top: 200px;
    text-align: center;
    
}

.main header{
    margin-left: 100px;
    padding-top: 20px;
    display: flex;
}
.logout{
    padding: 10px;
    
}

.selected{
    background: #A2C4C9;
}